# Misc
.*.swp
*.DS_STORE
*~
*.pyc
.idea/
build/
test_package/build/

# Doxygen
Doxygen/doxy_warn.log
Doxygen/sphinx_warnings.log
Doxygen/xmscore.tag
Doxygen/html/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
build/*
pybuild/*
build_py/*